.home {
    background-image: url(Images/paysage-st-cyr.png);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
    color: black;
}

.history {
    background-image: url(Images/port-st-cyr.png);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
}

.parc {
    background-image: url(Images/passerelle.png);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
}

.shop {
    background-image: url(Images/ain.png);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
}

header {
    background-color: white;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: darkblue;
}

.menu>li {
    background-color: #335edc;
    border-radius: 35px;
    padding: 15px 25px;
    margin: 0px 30px;
    display: inline-block;
}

.menu>li:hover {
    background-color: #1d3fa7;
    transition-duration: 0.5s;
}

.menu {
    margin: 0px;
    padding: 12px 40px;
}

a {
    text-decoration: none;
    font-family: "Lora";
    font-size: 1.7em;
    font-weight: 200;
    color: black;
}

table {
    border: 1px, solid, black;
    border-collapse: collapse;
}

td, th {
    border: 1px, solid, black;
    padding: 3px 5px;
}

img {
    padding: 4px;
}

table.tabFerme {
  border: 0px solid #FFFFFF;
}

table.tabFerme td, table.tabFerme th {
  border: 0px solid #AAAAAA;
}

table.tabFerme tbody td {
  font-size: 20px;
}

table.tabFerme td:nth-child(even) {
  background: #FFFFFF;
}

table.tabFerme tfoot {
  font-size: 10px;
  font-weight: bold;
  background: #FFFFFF;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
}

table.tabFerme tfoot td {
  font-size: 10px;
}

.content {
    margin: 60px 120px;
    border-radius: 25px;
    background-color: white;
    padding: 20px;
}

.content>p {
    padding: 18px;
    font-size: 1.3em;
}

footer {
    background-color: rgb(215, 215, 215);
    padding: 20px;
}