.home {
    background-image: url(Images/Paysage-st-cyr-sur-menthon-2127777352.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
}

header {
    background-color: white;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    padding: 15px 35px 15px 35px;
    margin: 0px 40px 0px 40px;
    display: inline-block;
}

ul {
    margin: 0px;
    padding: 12px 60px 12px 60px;
}

a {
    text-decoration: none;
    font-family: "Lora";
    font-weight: 600;
    color: rgb(0, 0, 0);
}

img {
    padding: 4px;
}

table.tabFerme {
    border: 0px solid #FFFFFF;
  }
  table.tabFerme td, table.tabFerme th {
    border: 0px solid #AAAAAA;
  }
  table.tabFerme tbody td {
    font-size: 20px;
  }
  table.tabFerme tr:nth-child(even) {
    background: #FFFFFF;
  }
  table.tabFerme td:nth-child(even) {
    background: #FFFFFF;
  }
  table.tabFerme tfoot {
    font-size: 10px;
    font-weight: bold;
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
  }
  table.tabFerme tfoot td {
    font-size: 10px;
  }